* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
}
.main-left {
  width: 20%;
  height: 100vh;
  background: rgb(54, 103, 90);
}
.main-left ul li {
  list-style: none;
  padding: 10px;
  background: rgb(54, 103, 90);
  color: white;
  border-bottom: 1px solid black;
  cursor: pointer;
  transition: 0.5s;
}
.main-left ul li:hover {
  background: rgb(54, 80, 73);
  border-color: white;
}
.right {
  width: 80%;
  /* background: green; */
}
